In [19]:
import pandas as pd

In [20]:
def setID(df,num):
    id = []
    for i in range(len(df)):
        id.append(f'ref{num}_{i}')
    df['ID'] = id
    df.reset_index(drop=True, inplace=True)
    return df

-----

## Acute Oral Toxicity

In [21]:
training = pd.read_csv('./Acute Oral Toxicity/Predictive Models for Acute Oral Systemic Toxicity/trainingset_171130.tsv', sep='\t')
test = pd.read_csv('./Acute Oral Toxicity/Predictive Models for Acute Oral Systemic Toxicity/validationset.tsv', sep ='\t')
df = pd.concat([training,test])
df = setID(df,1)[['ID','Canonical_QSARr','very_toxic','nontoxic','LD50_mgkg','EPA_category','GHS_category']]
df

,ID,Canonical_QSARr,very_toxic,nontoxic,LD50_mgkg,EPA_category,GHS_category
0,ref1_0,[O-][N+](=O)C1C=CC(Cl)=CC=1,False,False,460.0,2.0,4.0
1,ref1_1,NC1=CC=C(C=C1)[N+]([O-])=O,False,False,750.0,3.0,4.0
2,ref1_2,[O-][N+](=O)C1C=CC(O)=CC=1,False,False,170.0,2.0,3.0
3,ref1_3,[O-][N+](=O)C1C=CC(CCl)=CC=1,False,False,1809.0,3.0,4.0
4,ref1_4,CNC1C=CC(=CC=1)[N+]([O-])=O,False,True,NaN,3.0,5.0
...,...,...,...,...,...,...,...
11884,ref1_11884,C1C=CC=CC=1,False,True,3323.0,3.0,5.0
11885,ref1_11885,COP(=O)(OC=C(Cl)Cl)OC,True,False,30.0,1.0,2.0
11886,ref1_11886,CC1=CC(=NC(=N1)C(C)C)OP(=S)(OCC)OCC,False,False,92.0,2.0,3.0
11887,ref1_11887,CC(CCl)OP(=O)(OC(C)CCl)OC(C)CCl,False,False,980.0,3.0,4.0
11888,ref1_11888,CCOP(=S)(OC1C=CC(=CC=1)[N+]([O-])=O)OCC,True,False,2.1,1.0,1.0

In [22]:
df.to_csv('./Acute Oral Toxicity/AOT.csv')

-----

## AMES Mutagenesis

In [37]:
a = pd.read_csv('./AMES Mutagenesis/Hansen et al 2009/ci900161g_si_001/smiles_cas_N6512.csv', sep='\t',names=['SMILES', 'CAS','Mutagenicity'])
df = setID(a,1)[['ID','SMILES','Mutagenicity']]
df

,ID,SMILES,Mutagenicity
0,ref1_0,O=C1c2ccccc2C(=O)c3c1ccc4c3[nH]c5c6C(=O)c7cccc...,0
1,ref1_1,NNC(=O)CNC(=O)\C=N\#N,1
2,ref1_2,O=C1NC(=O)\C(=N/#N)\C=N1,1
3,ref1_3,NC(=O)CNC(=O)\C=N\#N,1
4,ref1_4,CCCCN(CC(O)C1=C\C(=N/#N)\C(=O)C=C1)N=O,1
...,...,...,...
6507,ref1_6507,COC1COC(COCC2COC(OC)C(OS(=O)(=O)O)C2OS(=O)(=O)...,0
6508,ref1_6508,OC(Cc1cn(N=O)c2ccccc12)C(=O)O,1
6509,ref1_6509,COC(=O)Nc1nc2ccccc2[nH]1,1
6510,ref1_6510,ClCc1cccc2c3cccc4cccc(c12)c34,1
6511,ref1_6511,CCCN(CCC)N=O,1

In [38]:
df.to_csv('./AMES Mutagenesis/AMES_ref1.csv')

-----

In [39]:
b = pd.read_excel("./AMES Mutagenesis/MutagenPred-GCNN. 2021/12539_2020_407_MOESM1_ESM.xlsx", sheet_name = 'Sheet1')
df = setID(b,2)[['ID','SMILES','Mutagenicity']]
df

,ID,SMILES,Mutagenicity
0,ref2_0,c1ccc2c(c1)cc3ccc4cccc5ccc2c3c45,1
1,ref2_1,C1O[C@@H]1[C@H]2CO2,1
2,ref2_2,Nc1ccc(cc1)c2ccc(N)cc2,1
3,ref2_3,CCCCC(CC)COC(=O)c1ccccc1C(=O)OCC(CC)CCCC,0
4,ref2_4,Nc1ccc2cc3ccccc3cc2c1,1
...,...,...,...
1377,ref2_1377,CC1=NC2=C(C3=C(C=C2N=C1)N=C(N3C)C)C,0
1378,ref2_1378,C1=CC2=CC(=C(C(=C2N=C1)F)F)F,0
1379,ref2_1379,C1=CC2=CC(=C(C=C2N=C1)F)F,0
1380,ref2_1380,C1=CC(=CC=C1CC(C(=O)O)N)Cl,0
1381,ref2_1381,CC[N+](CC)(CCCCCN1C(=CC(=O)N(C1=O)CCCCC[N+](CC...,1

In [40]:
df.to_csv('./AMES Mutagenesis/AMES_ref2.csv')

-----

In [41]:
c = pd.read_excel('./AMES Mutagenesis/AMES, QSAR International Collaborative Study/ClassATotal.xlsx')
df = setID(c,3)[['ID','SMILES','Mutagenicity']]
df

           ID                                             SMILES  Mutagenicity
0      ref3_0  CC(=O)NC1=C(C=CC(=C1)N(C COC(=O)C)CCOC(=O)C)N=...             1
1      ref3_1  C1=CC=C(C=C1)CCN(CCC#N) C2=CC=C(C=C2)N=NC3=C(C...             1
2      ref3_2  [O-\n][N+](=O)c2ccc(/N=N/c1ccc(N( CCOC(=O)C)CC...             1
3      ref3_3                                    COC(=O)C(CCl)Cl             1
4      ref3_4                            COC(=O)C(CSC(=N)N)Cl.Cl             1
..        ...                                                ...           ...
667  ref3_667  [O-][N+](=O)C1=CC=C(C=C1)S(=N\C(=O)C(F)(F)F)\C...             1
668  ref3_668  FC(F)(COC(=O)CCCl)C(F)(F)OC(F)(F)C(C(F)(F)OC(F...             1
669  ref3_669                 FC1=CC(=CC=C1CBr)C1=C(C= CC=C1)C#N             1
670  ref3_670                    NC1=C(C#N)C(=CS1)C1=CC=C(N)C=C1             1
671  ref3_671                                     COC(=O)OC(C)Cl             1

[672 rows x 3 columns]

In [42]:
df.to_csv('./AMES Mutagenesis/AMES_ref3.csv')

-----

In [43]:
d_ts = pd.read_excel('./AMES Mutagenesis/Xu. 2012/2455387/ci300400a_si_001.xls', sheet_name = 'training set')
d_es = pd.read_excel('./AMES Mutagenesis/Xu. 2012/2455387/ci300400a_si_001.xls', sheet_name = 'external validation set')
d = pd.concat([d_ts,d_es])
df = setID(d,4)[['ID','SMILES','Mutagenicity']]
df

,ID,SMILES,Mutagenicity
0,ref4_0,[O-][N+](=O)c1ccc2ccc3ccc(c4c5ccccc5c1c2c34)[N...,1
1,ref4_1,[O-][N+](=O)c1c2CCCCc2c3ccc4cccc5ccc1c3c45,1
2,ref4_2,O=C1c2ccccc2C(=O)c3c1ccc4c3[nH]c5c6C(=O)c7cccc...,0
3,ref4_3,NNC(=O)CNC(=O)C=N#N,1
4,ref4_4,O=C1NC(=O)C(C=N1)=N#N,1
...,...,...,...
8343,ref4_8343,O=N(=O)OC1COC2C(COC12)ON(=O)=O,0
8344,ref4_8344,OCC1OC(C(O)C1O)n2cnc3c(NCc4ccc(cc4)N(=O)=O)ncnc23,0
8345,ref4_8345,CNN(=O)=O,0
8346,ref4_8346,NC(Cc1ccc(O)c(c1)N(=O)=O)C(=O)O,0
8347,ref4_8347,CNC(=NCCSCc1oc(CN(C)C)cc1)C=N(=O)O,0

In [44]:
df.to_csv('./AMES Mutagenesis/AMES_ref4.csv')

----

### Data Cocatenation

In [45]:
a = pd.read_csv('./AMES Mutagenesis/AMES_ref1.csv')
b = pd.read_csv('./AMES Mutagenesis/AMES_ref2.csv')
c = pd.read_csv('./AMES Mutagenesis/AMES_ref3.csv')
d = pd.read_csv('./AMES Mutagenesis/AMES_ref4.csv')

In [46]:
ames = pd.concat([a,b,c,d])[['ID','SMILES','Mutagenicity']]
ames

,ID,SMILES,Mutagenicity
0,ref1_0,O=C1c2ccccc2C(=O)c3c1ccc4c3[nH]c5c6C(=O)c7cccc...,0
1,ref1_1,NNC(=O)CNC(=O)\C=N\#N,1
2,ref1_2,O=C1NC(=O)\C(=N/#N)\C=N1,1
3,ref1_3,NC(=O)CNC(=O)\C=N\#N,1
4,ref1_4,CCCCN(CC(O)C1=C\C(=N/#N)\C(=O)C=C1)N=O,1
...,...,...,...
8343,ref4_8343,O=N(=O)OC1COC2C(COC12)ON(=O)=O,0
8344,ref4_8344,OCC1OC(C(O)C1O)n2cnc3c(NCc4ccc(cc4)N(=O)=O)ncnc23,0
8345,ref4_8345,CNN(=O)=O,0
8346,ref4_8346,NC(Cc1ccc(O)c(c1)N(=O)=O)C(=O)O,0
8347,ref4_8347,CNC(=NCCSCc1oc(CN(C)C)cc1)C=N(=O)O,0

In [47]:
ames.to_csv('./AMES Mutagenesis/AMES_total.csv')